<%= form_for([@project, @task], html: {class: "form-horizontal"}) do |f| %>

  <h1><%= title %></h1>

  <div class="form-group">
      <div class="col-sm-offset-1 col-sm-4">
        <%= render "shared/errors", object: @task %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :description, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :due_date, class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.date_field :due_date, class: "col-sm-3 form-control" %>
    </div>
  </div>

  <div class="form-group col-sm-offset-1 col-sm-11">
    <% if @task.id %>
      <div class="left">
          <br>
          <%= f.check_box :complete %>
          <%= f.label :complete %>
      </div>
    <% end %>
    <br>
    <div class="left">
        <%= f.submit class: "btn btn-primary btn-info"%>
    </div>
  </div>

<% end %>
