<%= form_for(@task, html: {class: "form-horizontal"}) do |f| %>

  <% if @task.errors.any? %>
    <br>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-4 alert alert-danger" role="alert">
        <p><strong><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</strong></p>
        <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :description, class: "col-sm-1 control-label" %>
  <div class="col-sm-3">
    <%= f.text_field :description, class: "form-control" %>
  </div>
</div>

<div class="form-group">
    <%= f.label :due_date, class: "col-sm-1 control-label" %>
  <div class="col-sm-2">
    <%= f.date_field :due_date, class: "col-sm-3 form-control" %>
  </div>
</div>

<div class="form-group col-sm-offset-1 col-sm-11">
  <% if @task.id %>
    <div class="left">
        <br>
        <%= f.check_box :complete %>
        <%= f.label :complete %>
    </div>
  <% end %>
  <br>
  <div class="left">
      <%= f.submit class: "btn btn-primary btn-info"%>
  </div>
</div>

<% end %>
