<div class= "container tasks_page">
  <table class="table">
    <h1>Tasks
      <%= link_to 'Create Task', new_task_path, class: "btn btn-primary pull-right" %>
    </h1>

    <hr>

    <thead>
      <table class="table">
      <tr>
      <div class="col-md-3"><strong>Description</strong></div>
      <div class="col-md-3"><strong>Complete</strong></div>
      <div class="col-md-3"><strong>Due</strong></div>
    </thead>

    <tbody>
      <table class="table">
      <% @tasks.each do |task| %>
          <td class="data col-md-3"><%= task.description %></td>
          <td class="data col-md-3"><%= task.complete %></td>
          <td class="data col-md-3"><%= task.date %></td>
      <td>
      <div class= "btn-toolbar pull-right">
        <%= link_to 'Show', task, class: "btn btn-success" %>
        <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
      </div>

      <tr>

      <% end %>
    </tbody>

  </table>

    <br>
    <br>
    <br>
    <br>

  </table>
</div>
