<%= render 'form', title: "New User" %>

<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>

  <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :password %></label>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "col-sm-3 form-control" %>
    </div>
  </div>

  <div class="form-group">
      <label class="col-sm-2 control-label"><%= f.label :password_confirmation %></label>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, class: "col-sm-3 form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
        <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>
  
<% end %>
