
<h1><%= @user.first_name %> <%= @user.last_name %>
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary pull-right" %> </h1>

<br>
<br>

  <dl class="dl-horizontal">

    <dt>First Name</dt>
    <dd><%= @user.first_name %></dd>

    <dt>Last Name</dt>
    <dd><%= @user.last_name %></dd>

    <dt>Email</dt>
    <dd><%= mail_to @user.email %></dd>

    <% if @user.PTtoken.present? %>
    <dt>Pivotal Tracker Token</dt>
      <dd><%= @user.PTtoken[0..3] %><%= "*" * (@user.PTtoken.length-4) %></dd>
    <% else %>
    <dt>Pivotal Tracker Token</dt>
    <dd>(No Token Given)</dd>
    <% end %>
  </dl>


<br>
<br>
<br>
<br>
<br>
<br>
