
<h1><%= @user.first_name %> <%= @user.last_name %>
<% if current_user == @user || current_user.admin %>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary pull-right" %>
<% end %></h1>

<br>
<br>

  <dl class="dl-horizontal">

    <dt>First Name</dt>
    <dd><%= @user.first_name %></dd>

    <dt>Last Name</dt>
    <dd><%= @user.last_name %></dd>

    <% if current_user.admin? || current_user == @user || current_user.is_co_project_with?(@user) %>
      <dt>Email</dt>
      <dd><%= mail_to @user.email %></dd>
    <% end %>

    <% if @user.tracker_token.present? %>
    <dt>Pivotal Tracker Token</dt>
      <dd><%= @user.tracker_token[0..3] %><%= "*" * (@user.tracker_token.length-4) %></dd>
    <% else %>
    <dt>Pivotal Tracker Token</dt>
    <dd>(No Token Given)</dd>
    <% end %>
  </dl>


<br>
<br>
<br>
<br>
<br>
<br>
