

  <div class="jumbotron" style= "padding-left: 450px">
    <div class="container gCamp" style= "padding-bottom:40px">
      <h1>gCamp</h1>
      <p>Your life, organized.</p>
    </div>
  </div>

<div class="row">

  <div class="col-md-4">
    <%= image_tag("Man_with_phone.jpg", :class => "image-responsive") %>

    <div class="panel panel-default">
      <div class="panel-heading">
          <h2 class="panel-title">Tasks</h2>
      </div>
      <div class="panel-body">
        Grouped by projects and lists.  Just the way you like'em
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <%= image_tag("People-with-papers.jpg", :class => "image-responsive") %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Documents</h2>
      </div>
      <div class="panel-body">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <%= image_tag("Men_talking.jpg", :class => "image-responsive") %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Comments</h2>
        </div>
      <div class="panel-body">
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<br></br>

<div class="quotes">
  <% @quotes.each do |quote| %>
    <blockquote>
      <p><%= quote.text %></p>
      <footer><%= quote.author %></footer>
    </blockquote>
  <% end %>
</div>

<br></br>
