<strong><p id="notice" class="text-center"><%= notice %></p></strong>

  <div class="page-header">
      <div class= "pull-right">
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
      <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' },
          class: "btn btn-danger" %>
      </div>
    <h1><%= @project.name %></h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li class="active"><%= @project.name %></li>
  </ol>

  <br>
  <%= link_to pluralize(@project.tasks.count, "Task"), project_tasks_path(@project),
        class:"project_show_count" %>
  <br>
  <br>
  <%= link_to pluralize(@project.users.count, "Members"), project_memberships_path(@project),
        class:"project_show_count" %>



<br>
<br>
<br>
<br>
<br>
<br>
