<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>gCamp</title>
  </head>

  <body style= "padding-top: 100px">
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <ul class="navbar-brand">
              <font size="5"><%= link_to "gCamp", root_path, id: "gCamp" %></font>
          </ul>
          <ul class= "navbar-brand navbar-nav navbar-right">
            <% if current_user %>
              <%= link_to ("#{current_user.first_name} #{current_user.last_name}"), user_path(current_user) %>
              |
              <%= link_to "Sign Out", signout_path %>
            <% else %>
              <%= link_to "Sign Up", signup_path %>
              |
              <%= link_to "Sign In", signin_path %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <strong><p id="notice" class="text-center"><%= notice %></p></strong>
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class= "left_footer">
          <%= link_to "About", about_path %>
          |
          <%= link_to "Terms", terms_path %>
          |
          <%= link_to "FAQ", faq_path %>
          |
          <%= link_to "Users", users_path %>
          |
          <%= link_to "Projects", projects_path %>
        </div>
        <div class="pull-right">
          <%= link_to "https://www.linkedin.com/in/laurahasemeyer/" do %>
            <% image_tag("LinkedIn.png", width: "40em") %>
          <% end %>
          <%= link_to "https://github.com/lbhasemeyer" do %>
            <% image_tag("GitHub.png", width: "40em") %>
          <% end %>
          <%= link_to "https://twitter.com/lkbhas" do %>
            <% image_tag("Twitter.png", width: "40em") %>
          <% end %>
          <%= link_to "http://www.galvanize.it/school/#main" do %>
            <% image_tag("gSchool.png", width: "150em") %>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
