<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>gCamp</title>
  </head>

  <body style= "padding-top: 100px">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-brand">
              <%= link_to "gCamp", projects_path %>
          </div>
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  My Projects
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% @projects.each do |project| %>
                    <li><%= link_to project.name, project_path(project) %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to "New Project", new_project_path %></li>
                </ul>
              </li>
            </ul>
          <% end %>
          <div class= "navbar-brand navbar-nav navbar-right">
            <% if current_user %>
              <%= link_to ("#{current_user.first_name} #{current_user.last_name}"), user_path(current_user) %>
              |
              <%= link_to "Sign Out", signout_path %>
            <% else %>
              <%= link_to "Sign Up", signup_path %>
              |
              <%= link_to "Sign In", signin_path %>
            <% end %>
          </div>
        </div>
    </div>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success text-center" role= "alert">
            <strong><%= notice %></strong>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div class="container">
      <footer class= "footer">
        <div class="text-center">
          <%= link_to "Home", root_path %> |
          <%= link_to "About ", about_path %> |
          <%= link_to "Terms", terms_path %> |
          <%= link_to "FAQ", faq_path %>
        </div>
      </footer>
    </div>
  </body>
</html>
